<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />

    </head>
    <body>
        {{>header}}
        <img src="/img/download.jfif" />     
        {{>footer}}
   
    </body>
</html>